{% extends "base.html" %}
{% block title %}Eliminar cadena - Salakadula{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% block header %}
            {{ super() }}
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% block sidebar %}
            {{ super() }}
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <!--<h4 class="page-title">Dashboard</h4>-->
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <!--<li class="breadcrumb-item"><a href="#">Sesion iniciada como</a></li>-->
                                    <!--<li class="breadcrumb-item active" aria-current="page">{{ username }}</li>-->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <!-- editor -->
                <div class="row">
                        <div class="col-sm-12">
                                <div class="card">
                                        <form class="form-horizontal" method="post">
                                            <div class="card-body">
                                                <h4 class="card-title">Eliminar Cadena: </h4>
                                                <div class="form-group row">
                                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Numero de la cadena</label>
                                                    <div class="col-sm-9">
                                                        <select name="orden" class="select form-control custom-select">
                                                            <optgroup label="Cadena: ">
                                                            {% for cadena in cadenas %}
								                                <option value={{ cadena['orden'] }}>{{ cadena['orden'] }}</option>
                                                            {% endfor %}
                                                        </select>                                                    
                                                    </div>
                                            </div>
                                                <!--div class="form-group row">
                                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Mensaje</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                </div-->
                                                <div class="border-top">
                                                    <div class="card-body">
                                                    <button type="submit" onclick="¿Estas seguro/a?" class="btn btn-primary">Eliminar</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% block footter %}
                {{ super() }}
            {% endblock %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="/static/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/static/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>
{% endblock %}
