{% extends "base.html" %}
{% block title %}Autor - Salakadula{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% block header %}
            {{ super() }}
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% block sidebar %}
            {{ super() }}
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Editar Autor</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <!--<li class="breadcrumb-item"><a href="#">Sesion iniciada como</a></li>-->
                                    <!--<li class="breadcrumb-item active" aria-current="page">{{ username }}</li>-->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    <div class="col-md-12">
                        <!-- Tabs -->
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Información</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#comments" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Comentarios</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#books" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Libros</span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="p-20">

                                        <!-- Info Autor -->
                                            <div class="card">
                                                <form class="form-horizontal" action=" " method="post">
                                                    <div class="card-body">
                                                        <!-- <h4 class="card-title">Información del Autor</h4>-->
                                                        {% for data in autores %}
                                    
                                                        <div class="form-group row">
                                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nombre</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="nombre" id="fname" value="{{ data['nombre']  }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Apellido</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="apellido" id="lname" value="{{ data['apellido']  }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Email</label>
                                                            <div class="col-sm-9">
                                                                <input type="email" class="form-control" name="email" id="lname1" value="{{ data['email']  }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Fecha de Registro</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="fecharegistro" id="email1" value="{{ data['fecharegistro']  }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Registrador</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="registrador" id="cono1" value="{{ data['registrador']  }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                                <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Numero</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="numero" id="cono2" value="{{ data['numero']  }}">
                                                                </div>
                                                        </div>
                                                        <!-- Status -->
                                                        <div class="form-group row">
                                                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Tipo</label>
                                                            <div class="col-sm-9">
                                                                <select name="tipo" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                                                    <option>{% print tipo_autor %}</option>
                                                                    <optgroup label="Tipo: ">
                                                                        <option value="Escritor">Escritor</option>
                                                                        <option value="Escritor-Ilustrador">Escritor-Ilustrador</option>
                                                                        <option value="Escritor con Ilustrador">Escritor con Ilustrador</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- End Status -->
                                                        {% endfor %}
                                                    </div>
                                                    <div class="border-top">
                                                        <div class="card-body">
                                                            <button type="submit" class="btn btn-secondary">Guardar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- End Info Autor -->
                                    </div>
                                </div>
                                <!-- Comentarios -->
                                <div class="tab-pane p-20" id="comments" role="tabpanel">
                                    <div class="p-20">

                                            <div class="card">
                                                <form class="form-horizontal" action="{{ url_for('add_comment', autor=autor, url=url) }}" method="post">
                                                    <!--<h4 class="card-title">Comentarios del Autor</h4>-->
                                                    <div class="card-body">
                                                        
                                                        <!-- Text Field-->
                                                        <div class="form-group row">
                                                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Nuevo Comentario</label>
                                                            <div class="col-sm-9">
                                                                <textarea class="form-control" name="comentario" placeholder="Escribe aquí el comentario..."></textarea>
                                                            </div>
                                                        </div>

                                                    <!-- Line & Button -->
                                                    </div>
                                                        <div class="border-top">
                                                            <div class="card-body">
                                                                <button type="submit" class="btn btn-secondary">Guardar Comentario</button>
                                                            </div>
                                                        </div>
                                                </form>
                                                    <hr>
                                                <!-- Comments List -->
                                                <h4 class="card-title">Comentarios Realizados:</h4>
                                                <div class="comment-widgets scrollable" style="max-height: 260px;">
                                                    <!-- Comment Row -->
                                                    {% for comentario in comentarios %}
                                                    <div class="d-flex flex-row comment-row m-t-0">
                                                        <div class="p-2"><img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle"></div>
                                                        <div class="comment-text w-100">
                                                                <h6 class="font-medium"><strong> Editor: </strong>{{comentario['usernameeditor']}}</h6>
                                                            <span class="m-b-15 d-block"> {{comentario['comentario']}} </span>
                                                            <div class="comment-footer">
                                                                <span class="text-muted float-right">{{comentario['fecha']}}</span> 
                                                                <!--<button type="button" class="btn btn-cyan btn-sm">Edit</button>-->
                                                                <!--<button type="button" class="btn btn-success btn-sm">Publish</button>-->
                                                                <!--<button type="button" class="btn btn-danger btn-sm">Delete</button>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor  %}
                                                    <!-- End Comment Row -->
                                                </div>
                                                
                                            </div>
                                        <!-- End card - Comments -->
  
                                    </div>
                                </div>
                                <!-- Libros -->
                                <div class="tab-pane p-20" id="books" role="tabpanel">
                                    <div class="p-20">
                                    <!-- books card -->
                                            <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title m-b-0">Libros</h5>
                                                    </div>
                                                    <table class="table">
                                                        <tbody>
                                                            <form class="form-horizontal" action={{ url_for('add_book', autor=autor) }} method="post">
                                                                <div class="form-group row">
                                                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nombre</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="nombre_libro" id="fname1" placeholder="Nombre">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Editorial</label>
                                                                    <div class="col-sm-9">
                                                                        <select name="editorial" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                                                            <option>Editorial</option>
                                                                            <optgroup label="Editorial: ">
                                                                                {% for editorial in editoriales %}
                                                                                    <option value={{editorial['nombre']}} > {{ editorial['nombre'] }} </option>
                                                                                {% endfor %}
                                                                            </optgroup>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Estado</label>
                                                                    <div class="col-sm-9">
                                                                        <select name="estado_libro" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                                                            <option>Estado actual</option>
                                                                            <optgroup label="Estado: ">
                                                                                <option value="Contratado">Contratado</option>
                                                                                <option value="Pendiente">Pendiente</option>
                                                                                <option value="En espera">En espera</option>
                                                                                <option value="Desechado">Desechado</option>
                                                                            </optgroup>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="border-top">
                                                                    <div class="card-body">
                                                                        <button type="submit" class="btn btn-secondary">Registrar libro</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </tbody>
                                                    </table>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Editorial</th>
                                                            <th scope="col">Registro</th>
                                                            <th scope="col">Estado</th>
                                                            <th scope="col"> </th>
                                                            </tr>
                                                        </thead>
                                                            {% for libro in libros  %}
                                                            <form class="form-horizontal" action="{{ url_for('update_status', autor=autor, nombre=libro['nombre'], nombreeditorial=libro['nombreeditorial']) }}" method="post">
                                                                <tr>
                                                                    <td> {{libro['nombre'] }}  </td>
                                                                    <td> {{libro['nombreeditorial'] }}  </td>
                                                                    <td> {{libro['registro'] }}  </td>
                                                                    <td>
                                                                        <div class="form-group row">
                                                                            <label for="cono1"></label>
                                                                            <div class="col-sm-9">
                                                                                <select name="actualizado_libro" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                                                                <option>{{libro['estado']}}</option>
                                                                                    <optgroup label="Tipo: ">
                                                                                        <option value="Contratado">Contratado</option>
                                                                                        <option value="Pendiente">Pendiente</option>
                                                                                        <option value="En espera">En espera</option>
                                                                                        <option value="Desechado">Desechado</option>
                                                                                    </optgroup>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="bottom">
                                                                            <div class="card-body">
                                                                                <button type="submit" class="btn btn-secondary">Modificar</button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </form>
                                                            {% endfor %}
                                                    </table>
                                            </div>
                                    <!-- end books card -->
                                    </div>
                                </div>

                            </div>
                            <!-- End Tab panes -->
                        </div>
                        <!-- End Tabs -->
                    </div>
                    <!-- End col-md-12 -->


                </div>
                <!-- end row -->
            </div>
            <!-- Container Fluid -->



                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% block footter %}
                {{ super() }}
            {% endblock %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="/static/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/static/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>
{% endblock %}
